{% extends "base.html" %}
{% block title %}
    {% if edit %} Редактирование поста 
    {% else %} Новая запись 
    {% endif %}
{% endblock %}
{% block content %}
{% load user_filters %}
<div class="row justify-content-center">
  <div class="col-md-10 p-1">
    <div class="card mb-3 mt-1 shadow-sm">
      <div class="card-header">
        {% if edit %} Редактирование поста 
        {% else %} Новая запись 
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="{% if edit %}{% url 'posts:post_edit' post.id%}{% else %}{% url 'posts:post_create'%}{% endif %}">
          {% csrf_token %}
          {% for error in form.errors %}
            <div class="alert alert-danger" role="alert">
              {{ error|escape }}
            </div>
          {% endfor %}
          {% for field in form %}
            <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
              <label for="{{ field.id_for_label }}" class="col-md-2 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                <div class="col-md-10">
                  {{ field|addclass:"form-control" }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                  {% endif %}
                </div>                
            </div>
          {% endfor %}
          <div class="card mb-3 mt-2 shadow-sm">              
            <button type="submit" class="btn btn-outline-primary">{% if edit %}Изменить{% else %}Отправить{% endif %}</button>
          </div>
        </form>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %}
